/node_modules
/public/hot
/public/storage
/storage/*.key
/.history
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/vendor
/storage/logs
/storage/app
/storage/framework
/_backup
/vendor
