    .feature-list {
        list-style: none;
        padding: 0;
        margin-top: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .feature-list li {
        margin-bottom: 0;
        padding: .5rem 1.5rem;
        border-top: 1px solid #c2c8cc;
        transition: background-color .25s;
        position: relative;
        padding-right: 0;
        padding-left: 0;
    }
    
    .top-half .product-card {
        border-bottom: none;
    }
    
    .product-card .card-hero {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 1.5rem;
        height: 100%;
    }
    
    .bottom-half {
        -ms-flex-order: 1;
        order: 1;
    }
    
    .bottom-half .product-card {
        border-top: none;
        height: auto;
    }
    
    .product-card {
        background: #fff;
        box-shadow: 0 4px 12px 0 rgba(104, 115, 125, .15);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        text-align: right;
        transition: box-shadow .25s;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .product-card .product-ctas {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    @media only screen and (min-width: 768px) {
        .grid .col.col-small-4 {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 33.3333333333%;
        }
    }
    
    .p-pricing-landing .row-product-cards {
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .p-pricing-landing .product-card .card-hero {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 1.5rem;
        height: 100%;
    }
    
    @media only screen and (min-width: 768px) {
        .p-pricing-landing .product-card .product-title {
            font-size: 2rem;
            text-align: center;
        }
    }
    
    .p-pricing-landing .product-card .price-lockup {
        margin: auto;
    }
    
    .p-pricing-landing .product-card .product-ctas {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    @media only screen and (min-width: 768px) {
        .grid .col.col-small-4 {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 33.3333333333%;
        }
    }
    
    .p-pricing-landing .top-half {
        padding-bottom: 0;
    }
    
    .grid .col {
        position: relative;
        padding: 8px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 100%;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    
    .p-pricing-landing .top-half {
        padding-bottom: 0;
    }
    
    .p-pricing-landing .product-card .product-title {
        font-size: 1.5rem;
        margin: 0 0 .75rem;
        font-weight: bold;
    }
    
    .p-pricing-landing .product-card .product-ctas .button,
    .p-pricing-landing .product-card .product-ctas .subdomain-cta {
        width: 100%;
    }
    
    .p-pricing-landing .product-card .product-ctas>* {
        margin-top: 1rem;
    }
    
    .link-small,
    .link-medium,
    .link-large,
    .link-video,
    .anchor-small,
    .anchor-medium,
    .anchor-large,
    .anchor-video {
        display: inline-block;
        font-family: sharp sans, Arial, sans-serif;
        font-weight: 600;
        line-height: 1.5em;
        text-decoration: none;
    }
    
    .link,
    .anchor {
        cursor: pointer;
        font-size: inherit;
        width: auto;
        text-decoration: underline;
        display: inline;
        transition: all .25s;
    }
    
    .button.button-medium,
    a.button.button-medium,
    input.button.button-medium,
    button.button.button-medium {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    
    .button,
    a.button,
    input.button,
    button.button {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        background-color: #3c576c;
        border-radius: 0;
        border: 2px solid #334c5f;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font: 600 1rem/1.25em "Sharp Sans", Arial, sans-serif;
        margin: 0;
        min-width: 8rem;
        padding: .5rem 1.5rem;
        text-align: center;
        text-decoration: none;
        transition: background-color .25s, border .25s, color .25s;
        width: 100%;
    }
    
    .link,
    .anchor {
        cursor: pointer;
        font-size: inherit;
        width: auto;
        text-decoration: underline;
        display: inline;
        transition: all .25s;
    }
    
    .button.button-arrow:after,
    a.button.button-arrow:after,
    input.button.button-arrow:after,
    button.button.button-arrow:after,
    .link-arrow:after,
    .anchor-arrow:after,
    .icon-arrow-small-right::before {
        content: "\f301";
        font-family: Material-Design-Iconic-Font;
        display: none;
    }
    
    .link-arrow:after,
    .anchor-arrow:after {
        font-family: Material-Design-Iconic-Font;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    }
    
    .link-small,
    .link-medium,
    .link-large,
    .link-video,
    .anchor-small,
    .anchor-medium,
    .anchor-large,
    .anchor-video {
        display: inline-block;
        font-family: sharp sans, Arial, sans-serif;
        font-weight: 600;
        line-height: 1.5em;
        text-decoration: none;
    }
    
    .link-small span,
    .link-medium span,
    .link-large span,
    .link-video span,
    .anchor-small span,
    .anchor-medium span,
    .anchor-large span,
    .anchor-video span {
        border-bottom: 2px solid #3c576c;
        transition: all .25s;
    }
    
    .link-arrow::after,
    .anchor-arrow::after {
        font-size: 1.75rem;
        margin-right: .125rem;
        position: relative;
        top: .3125rem;
        left: 0;
        transition: right .25s;
    }
    
    strong {
        font-weight: bold;
    }
    
    ul li.katamari-field:hover {
        /*background-color: #eee;*/
        cursor: pointer;
    }
    
    .form-control:focus,
    select.form-control {
        color: #333 !important;
    }